.bindhu{
    /* background-color: pink; */
    /* margin-top: -30px !important; */
}

.productNavigation{
    width: 270px;
    /* height: 18px; */
    /* margin: 30px 0px 30px 66px; */
    margin-left: 66px;
    padding: 30px 0px;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #2F4031;
    
    


}


.paboutProduct{
    display: flex;
    flex-direction: row;
    /* border: 6px solid rgb(21, 0, 255); */
    justify-content: space-between;
    /* background-color: green; */
    
}
.psingleProduct{
    flex: 20%;
    height: 680px;
    border-radius: 5px;
    background: #FDFFFD;
    box-shadow: 0px 1px 2px 0px #00000040;
    box-shadow: 0px 2px 6px 2px #00000026;
    position: sticky;
    top: 150px;
    margin-bottom: 20px;
    margin-left: 30px;
    /* background-color: teal; */
   
   
}




.categoryItembox{
    flex: 70%;
    /* background-color: rgb(131, 53, 66); */
    padding: 0px 50px;
}

.category-box{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    /* padding: 10px; */
}
