.products{
    border: 0px solid black;
    margin: 40px 66px 140px 66px;
}

.heading{
    width: 98px;
    height: 22px;
    /* margin-left: 66px; */
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #516553;

}

.product-box{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;
}
.product{
    width: 309px;
    height: 400px;
    border-radius: 5px;
    background: #FDFFFD;
    box-shadow: 0px 1px 2px 0px #00000040;
    box-shadow: 0px 1px 3px 1px #00000026;
    position: relative;
    margin: 25px 0px;


}

.product-img{
    width: 309px;
    height: 309px;
    border-radius: 5px, 5px, 0px, 0px;
    background: #DEDFE0;
    /* object-fit: cover; */

}

.product-name{
    width: 234.9px;
    margin-top: 16px;
    margin: 16px 0px 16px 8px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #2F4031;
}
.product-des{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}
.price{
    width: 69.37px;
    height: 22.5px;
    margin-left: 8px;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #2F4031;
}

.rating-box{
    width: 27.72px;
    border-radius: 2px;
    text-align: right;
    background: #A3B899;
    margin-right: 8px;

}

.rating{
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: #2F4031;
    text-align: center;
    margin-top: 3px !important;

}

.navStyle{
    text-decoration: none;
}