.occasion{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    width: 90%;
    margin:0 auto;


}
.occ{
    margin: 20px 0px;
}
.type-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #D9D9D9;
    object-fit: cover;
}

.type-text{
    color:#2F4031;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 8px;
}