/* .occasion{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    width: 90%;
    margin:0 auto;


} */
.occ{
    /* margin: 20px 0px; */
    border: 0px solid red;
    /* position: absolute; */
    /* margin-top: 400px !important; */
}
.type-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #D9D9D9;
    object-fit: cover;
    margin: 0 auto;
    border: 0px solid rgb(140, 0, 255);
}

.type-text{
    color:#2F4031;
    text-align: center;
    /* margin-bottom: 50px; */
    margin-top: 8px;
    border: 0px solid rgb(4, 255, 0);
}


.cou{
    padding: 5rem;
    /* background-color: #000; */
    /* color: #fff; */
    /* height: 100vh; */
}

.dummy{
    background-color: pink;
    /* height: 300px; */
}

/* .slick-slide div{
    margin: 0 1rem;
} */

.slick-prev:before, .slick-next:before {
    color:  #bebcbc !important;
    font-size: 35px !important;
}